<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<link rel="stylesheet" href="/styles/addcart.css" type="text/css" />

</head>

<body>
<main>
<section class="cd-add-to-cart">
  <form id="order" method="GET" action="/menu">
    <input type="submit" class="order_now" value="ADD TO CART">
  </form>
</section>
</main>

</body>
</html>
