<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/confirmation.css" type="text/css" />
  </head>

  <body>
    <body>
      <nav id="nav-bar">
          <a href="http://localhost:8080"class="header">Home</a>

      </nav>
    <main class="container">
        <section class="thankyou">
            <img class="sushi" src="/images/thankyou.jpg">
            <table class="order_table1">
              <tr>
                <td>Order Total:</td>
              <td>$<%= test.total_price %></td>
              </tr>
              <tr>
                  <td>Phone Number:</td>
              <td><%= test.phone %></td>
              </tr>
            </table>

            <table border="1" class="order_table2">
               <tr>
                 <td>Item</td>
                 <td>Quantity</td>
               </tr>
              <tr>
              <% for(var key in test.foods){ %>
             <td><%= key%></td>
              <td><%= test.foods[key]%></td>

              </tr>
              <br>
            <% }%>

              </table>

      </section>
      <center><a href="http://localhost:8080/menu" class="order_again">Order Again!</a></center>
  </body>
</html>
