<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  </head>

  <body>
    <body>
      <nav id="nav-bar">
        <span class="header">Home</span>
        <span class="nav_restaurant">Restaurant</span>
      </nav>
    <main class="container">
        <section class="thankyou">
            <h2>Thank You For Your Order</h2> 
            <%= test.total_price %>
            <%= test.phone %>
            <% for(var key in test.foods){ %>
              <%= key%>
              <%= test.foods[key]%>
            <% }%>



        </div>

      </section>
  </body>
</html>
