<!DOCTYPE html>
<html lang="en">
<title>Order </title>

<head>
  <h1>Please confirm when order will be ready?</h1>
</head>

<body style="font-size:20px; padding:50px;">

    <button type="submit"> 15 minutes </button>
    <button type="submit"> 30 minutes </button>
    <button type="submit"> 60 minutes </button>

</body>

</html>