<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/order.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  </head>

<h3>Please confirm when order will be ready?</h3>
<body>
    <nav id="nav-bar">
        <span class="header">Home</span>
    </nav>
    <button type="submit"> 15 minutes </button>
    <button type="submit"> 30 minutes </button>
    <button type="submit"> 60 minutes </button>

</body>

</html>

