<!DOCTYPE html>
<html lang="en">

<head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/order.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

</head>

<body>


    <nav id="nav-bar">
        <span class="header">Confirmation The Order</span>
    </nav>

    <main>
        <section class="mid_layer">
    <center><h3>Please confirm when order will be ready?</h3></center>

    <center><table border=1>
        <tr><h3>Order Number: <%=foods[0].orderId%></h3></tr>
        <tr><td><h4>foods</h4></td><td><h4>quantity</h4></td><td><h4>price of each</h4></td></tr>
        <%foods.forEach((element)=>{%>
            <tr>
            <td><%=element.name%></td>
            <td><%=element.qty%></td>
            <td>$<%=element.price%></td>
            </tr>
        <%})%>
    </table></center>
    <center><form action="/order/15mins" method="POST">
        <button class="time_button" id="a" type="submit"> 15 minutes </button>
    </form></center>

    <center><form action="/order/30mins" method="POST">
        <button class="time_button" id="b" type="submit"> 30 minutes </button>
    </form></center>

    <center><form action="/order/60mins" method="POST">
        <button class="time_button" id="c" type="submit"> 60 minutes </button>
    </form></center>

    </section>
    </main>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>