
body {
  background-color: #EEE;
  // background-color: red;

  main {
    margin: 0px auto 0;
    width: 1000px;
    background-color: white;
    //padding-top: 40px;
    padding-bottom: 100%;
    img{
       width:600px;
    }
    // div {
    //   background-color: rgb(75,84,108);
    //   width:400px;
    //   float:right;
    //   height:360px;

    // }



  }
  h1 {
    color: #244751;

    span {
      color: green;
    }
  }
}

// .container {

// }

// .homepage_sushi {
//   width:600px;

// }

.homepage_rightside{
  background-color: rgb(75,84,108);
  border-left: 4px solid white;
  width:400px;
  float:right;
  height:360px;
}

.homepage_righttext{
  color:white;
  width:350px;
  height:50px;
  background-color: rgb(75,84,108);
  position: absolute;
  bottom: 33.8%;
  text-align: right;
  font-size: 200%;
}
.home_content {
    background-color: white;
    width: 1000px;
    // border-radius: 10px;
    // padding-left: 2em;
    // padding-right: 2em;
    // padding-top: 20px;
    // padding-bottom: 20px;
    // margin-left:20px;
    // margin-right:20px;
    // margin-top:10px;
}

.order_section{
  background-color: #07A7C4;
  height: 100px;
}

.order_now{
  float:right;
  margin-top: 18px;
  padding: 20px 30px;
  border-radius: 3px;
  width:300px;
}

.order_now:hover {
  background-color: rgb(75,84,108); /* Green */
  color: white;
}
