
body {
  background-color:#4A4C4C;

  main {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0;
    width: 1000px;
    background-color: white;


    img{
       width:700px;
    }

    .home_content {
    display:flex;
    flex-direction: row;
    background-color: #013554;
    width: 1000px;

      .homepage_rightside{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #013554;
        border-left: 4px solid white;
        width:400px;
        height:420px;

          .homepage_righttext{
            display: flex;
            flex-direction:row;
            justify-content: flex-end;
            align-items:flex-end;
            color:white;
            font-size: 200%
          }
      }
    }
    .order_section{
      border: 2px solid white;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background-color: #013554;
      height: 100px;

      .order_now{

        align-items: flex-end;
        margin-top: 18px;
        padding: 20px 30px;
        border-radius: 3px;
        width:300px;
          &:hover {
            background-color:#333434; /* Green */
            color: white;
        }
      }
    }
    .thankyou{
      flex-direction: column;
      margin:auto;
      background-color: #013554;
      width: 900px;
      color: white;
    }
  }
}
  h1 {
    color: #244751;

    span {
      color: green;
    }
  }

.popup-overlay {
      visibility:hidden;
      position:absolute;
      background-color: white;
      border:3px solid #666666;
      width:50%;
      height:50%;
      left:25%;
    }

    .popup-content {
      visibility:hidden;
      }
    .popup-overlay.active{

      visibility:visible;
      }

    .popup-content.active {
      visibility:visible;
      background-color: white;
      }



// .container {

// }

// .homepage_sushi {
//   width:600px;

// }

// .homepage_rightside{
//   background-color: rgb(75,84,108);
//   border-left: 4px solid white;
//   width:400px;
//   float:right;
//   height:360px;
// }

// .homepage_righttext{
//   color:white;
//   width:350px;
//   height:50px;
//   background-color: rgb(75,84,108);
//   position: absolute;
//   bottom: 33.8%;
//   text-align: right;
//   font-size: 200%;
// }
// .home_content {
//     background-color: white;
//     width: 1000px;
    // border-radius: 10px;
    // padding-left: 2em;
    // padding-right: 2em;
    // padding-top: 20px;
    // padding-bottom: 20px;
    // margin-left:20px;
    // margin-right:20px;
    // margin-top:10px;
//}

// .order_section{
//   background-color: #07A7C4;
//   height: 100px;
// }


