#nav-bar{
  background-color: #07A7C4;
  top: 0;
  height: 80px;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fix;
}

#nav-bar .header{
  float: left;
  font-size: 200%;
  margin-top: 20px;
}
