body {
  background-color: #4A4C4C !important;

  main {
  display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    justify-content: flex-end;
    background-color: #013554;

    .mid_layer{
        margin: auto;
        width: 800px;
        background-color: white;
    }
        .time_button {
            margin: auto;
            border: 1px solid;
            border-radius: 6px;
            margin: 20px;
        }
    }
}
