body {
  background-color: #4A4C4C !important;

  main {
   display: flex;
    flex-direction: column;
    margin: 0px auto 0;
    width: 1000px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 2%;

        .time_button {
            margin: auto;
            border: 1px solid;
            border-radius: 6px;
            margin: 20px;
        }
    }
}
